---
layout: layout.html
title: Calendar
style: page
---

.container.calendar 
    .row
        .col-12 
            h1 Team Calendar

    .row 
        .col-12 
            iframe(src="https://calendar.google.com/calendar/embed?src=leadership%40johnbuildsstuff.com&amp;ctz=America%2FLos_Angeles", style="border: 0", width="800", height="600", frameborder="0", scrolling="no")
