---
layout: layout.html
title: Calendar
style: page
---

.container.calendar 
    .row
        .col-12 
            h1 Team Calendar

    .row 
        .col-12 
            iframe(src="https://calendar.google.com/calendar/embed?src=c_c69e27e55d8efbccc349de8d204508b0563e8726b6406836af3d14f08b3dc955%40group.calendar.google.com&ctz=America%2FLos_Angeles", style="border: 0", width="800", height="600", frameborder="0", scrolling="no")
