---
layout: layout.html
title: Donate
style: page
---

.container.donate 
    .row
        .col-12 
            h1 Donations

    .row
        .col-12
            p Thank you for your generosity! Due to ASB rules, we are unable to accept cash or check donations in person. Instead, we work with 
                a(href="https://firstwa.org", target="_blank") FIRST Washington
                | &nbsp;to handle donations to the team.

            p
                a(href="https://firstwa.org", target="_blank") FIRST Washington
                | &nbsp;is a registered 501c(3) organization -- all donations are tax-deductible as allowed by law. Their Federal EIN is #45-2443839.

            p Donations can be made online through FIRST Washington
            ol
                li Navigate to 
                    a(href="https://secure.givelively.org/donate/washington-first-robotics/iron-riders-frc-team-4180", target="_blank") https://secure.givelively.org/donate/washington-first-robotics/iron-riders-frc-team-4180
                li Enter your donation amount and frequency
                li Click "Dedicate this Gift"
                li For "Dedicatee's Name", enter 
                    em FRC 4180
                li For "Notify someone about this gift", enter:&nbsp
                    em business@ironriders.org

            p Checks can be mailed to FIRST Washington with 
                em FRC 4180
                | &nbsp; on the memo line 
                address 
                    | FIRST Washington
                    br
                    | 22426 72nd Ave S
                    br
                    | Kent, WA 98032
