---
layout: layout.html
title: Donate
style: page
---

.container.donate 
    .row
        .col-12 
            h1 Donations

    .row
        .col-12
            p Thank you for your generosity! Due to ASB rules, we are unable to accept cash or check donations in person. Instead, we work with 
                a(href="https://firstwa.org", target="_blank") FIRST Washington
                | &nbsp;to handle donations to the team.

            p
                a(href="https://firstwa.org", target="_blank") FIRST Washington
                | &nbsp;is a registered 501c(3) organization -- all donations are tax-deductible as allowed by law. Their Federal EIN is #45-2443839.

            p Donations can be made online through FIRST Washington
            ol
                li Navigate to 
                    a(href="https://app.aplos.com/aws/give/WAFIRSTBoosters/TeamDonationForm", target="_blank") https://app.aplos.com/aws/give/WAFIRSTBoosters/TeamDonationForm
                li Select "FRC 4180" from the "Purpose" dropdown.
                li Enter your donation amount and frequency
                li Halfway down the page, be sure to also enter "FRC 4180" in the "Team Number" field.

            p Checks can be mailed to FIRST Washington with 
                em FRC 4180
                | &nbsp; on the memo line 
                address 
                    | FIRST Washington
                    br
                    | 22426 72nd Ave S
                    br
                    | Kent, WA 98032
