---
layout: layout.html
title: Home
style: index
---

.cover
    .overlay
    .cta
        h1 Who Rides?&nbsp;
            em We Ride!

        p The Iron Riders are team of students and mentors working together to build competitive robots, and through this gaining real-world skills and experience.

        a.button(href="/team") Learn More 