---
layout: layout.html
title: Resources
style: page
---

.container.resources 
    .row
        .col-12 
            h1 Team Resources 

    .row
        .col-12 
            h2 Digital Resources
        .col-12
            ul
                li: a(href="http://ironriders.org/calendar") Calendar
                li: a(href="http://ironriders.org/discord") Discord
                li: a(href="http://github.com/IronRiders") Github
                li: a(href="http://ironriders.org/drive") Google Drive
                li: a(href="http://ironriders.org/first-registration") FIRST Registration
                li: a(href="http://inventory.ironriders.org/") Inventory Management

    .row
        .col-12 
            h2 Locations
        .col-12 
            p Some team activites take place away from Roosevelt.
        .col-12
            ul
                li
                    a(href="https://goo.gl/maps/wNwVpygLLDcTwmYi9") North End FRC Practice Field (hosted by teams 1778 and 2522)
                    br 
                    | 20000 28th Ave W
                    br
                    | Lynnwood, WA 98036
                li 
                    a(href="https://goo.gl/maps/pEoQ7txVQcGk94C59") Auburn High School
                    br 
                    | 711 E Main St
                    br
                    | Auburn, WA 98002
                    br
                    | (Competition Event Location)
                li 
                    a(href="https://share.google/AmgBCQDRcZC57iihC") Bonney Lake High School
                    br 
                    | 10920 199th Ave Ct E
                    br
                    | Bonney Lake, WA 98391
                    br
                    | (Competition Event Location)
                li 
                    a(href="https://share.google/6AlTR8pJP9aEoMAk6") Glacier Peak High School
                    br 
                    | 7401 144th Pl SE
                    br
                    | Snohomish, WA 98296
                    br
                    | (Competition Event Location)
                li 
                    a(href="https://goo.gl/maps/ejzSvuBM6XmvsdMC7") Sammamish High School
                    br 
                    | 100 140th Ave SE
                    br
                    | Bellevue, WA 98005
                    br
                    | (Competition Event Location)

    .row
        .col-12
            h2 Email Addresses
        .col-12 
            p Our leadership and coach are always willing to answer any questions you have. These listed e-mails will connect you to the various directors and the coach our team has. Each director works on different parts of the club so to get a quicker and/or more accurate response, have an idea of which director will be appropriate for your question. If you're unsure e-mail either the Operations or Technical executives.
        .col-12
            ul
                li: h3 Coaches
                li: ul
                    li coaches@ironriders.org
                    li: ul
                        li John Luetke: john@ironriders.org
                        li Andrew Meador: ammeador@seattleschools.org
                        li Kailee Atkinson: kbatkinson@seattleschools.org
                li: h3 Student Leadership
                li: ul
                    li studentleaders@ironriders.org
                    li: ul 
                        li Operations Executive/Captain: operations@ironriders.org
                        li Technical Executive/Captain: technical@ironriders.org
                        li Communications Director: communications@ironriders.org
                        li Engineering Director: engineering@ironriders.org
                        li Controls Director: controls@ironriders.org
                        li Business/Finance Director: business@ironriders.org
                        li Strategy Director: strategy@ironriders.org
                        li Outreach Director: strategy@ironriders.org
        .col-12
            h3 Paperwork 
        .col-12
            p Throughout the year students will have to fill out certain forms in order to participate on the team. While these will be sent to out as necessary to those on the email list, if you need to fill out a form and don't have it they will be listed below.
        .col-12
            ul
                li: a(href="https://ironriders.org/wp-content/uploads/2018/02/Iron-Riders-Emergency-Medical-Info-Sheet.doc") Emergency Medical Information
                li: a(href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/youth-registration-guide-v3.pdf") FIRST Youth Paperwork 
                li: a(href="https://ironriders.org/wp-content/uploads/2018/02/Copy-of-Student-Transportation-Agreement-FIRST.pdf") Student Transportation Agreement

        .col-12
            h3 Team Links
        .col-12
            ul
                li: a(href="https://ironriders.org/purchase-request") Purchase Request
            ul
                li: a(href="https://inventory.ironriders.org/") Shop inventory
