---
layout: layout.html
title: Resources
style: page
---

.container.resources 
    .row
        .col-12 
            h1 Team Resources 

    .row
        .col-12 
            h2 Digital Resources
        .col-12
            ul
                li: a(href="http://ironriders.org/discord") Discord
                li: a(href="http://github.com/IronRiders") Github
                li: a(href="http://ironriders.org/drive") Google Drive

    .row
        .col-12
            h2 Email Addresses
        .col-12 
            p Our leadership and coach are always willing to answer any questions you have. These listed e-mails will connect you to the various directors and the coach our team has. Each director works on different parts of the club so to get a quicker and/or more accurate response, have an idea of which director will be appropriate for your question. If you're unsure e-mail either the Team Captain or Communications/VP.
        .col-12
            ul
                li: h3 Coaches
                li: ul
                    li coaches@ironriders.org
                    li: ul
                        li John Luetke: john@ironriders.org
                li: h3 Student Leadership
                li: ul
                    li leads@ironriders.org
                    li: ul 
                        li Team Captain: captain@ironriders.org
                        li Communications/VP: communications@ironriders.org
                        li Project Manager: pm@ironriders.org
                        li Engineering Director: engineering@ironriders.org
                        li Software Director: software@ironriders.org
                        li Business Director: business@ironriders.org
                        li Strategy Director: strategy@ironriders.org
        .col-12
            h3 Paperwork 
        .col-12
            p Throughout the year students will have to fill out certain forms in order to participate on the team. While these will be sent to out as necessary to those on the email list, if you need to fill out a form and don't have it they will be listed below.
        .col-12
            ul
                li: a(href="https://ironriders.org/wp-content/uploads/2018/02/Iron-Riders-Emergency-Medical-Info-Sheet.doc") Emergency Medical Information
                li: a(href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/youth-registration-guide-v3.pdf") FIRST Youth Paperwork 
                li: a(href="https://ironriders.org/wp-content/uploads/2018/02/Copy-of-Student-Transportation-Agreement-FIRST.pdf") Student Transportation Agreement

        .col-12
            h3 Team Links
        .col-12
            ul
                li: a(href="https://ironriders.org/purchase-request") Purchase Request
