---
layout: layout.html
title: Sponsors
style: page
---

.container.sponsors
    .row
        .col-12
            h1 Sponsors
        .col-12
            p We thank all our sponsors for their donations, as without them our team would not be able to compete.
    
    .row.align-items-center
        .col-12.col-lg-6.align-middle.text-center.ospi
            a(href="https://www.k12.wa.us", target="_blank")
                img(src="/img/ospi-500.png")

        .col-12.col-lg-6.align-middle.text-center.gene-hass
            a(href="https://ghaasfoundation.org/content/ghf/en/education-grants.html", target="_blank")
                img(src="/img/gene-hass-foundation-250.png")

        .col-12.col-lg-6.align-middle.text-center.boeing
            a(href="https://https://www.boeing.com/company/key-orgs/advertising-and-brand/sponsorships.page", target="_blank")
                img(src="/img/boeing-500.png")

        .col-12.col-lg-6.align-middle.text-center.wibotic
            a(href="https://www.wibotic.com/", target="_blank")
                img(src="/img/wibotic-500.png")

        .col-12.col-lg-6.align-middle.text-center.speea
            a(href="https://www.speea.org/", target="_blank")
                img(src="/img/speea-500.png")

        .col-12.col-lg-6.align-middle.text-center.liberty-mutual
            a(href="https://www.libertymutualgroup.com/", target="_blank")
                img(src="/img/liberty-mutual-500.png")
