---
layout: layout.html
title: Team
style: page
---
.container.team
    .row
        .col-12
            h1 Our Team

    .row
        .col-12
            h2 Departments

    .row
        .col-12
            h3 Engineering
        .col-12.col-lg-3.order-lg-3
            img(src="/img/engineering-department-250.png")
        .col-12.col-lg-9 
            p The engineering department is a combination of two subteams which work together to build and design the robot. Prior to build season both subteams hold curriculum meetings to teach members how to operate the shop tools, as well as how to use CAD programs. They also teach basic design processes to the entire team so that everyone is able to help with the final design. During build season the engineering department is responsible for designing and building the robot within the given timeframe. After building the robot, build members are some of the main people in the pit so that they can fix whatever issues may arise during the competition.
        
    .row
        .col-12
            h3 Software
        .col-12.col-lg-3.order-lg-1
            img(src="/img/software-department-250.png")
        .col-12.col-lg-9.order-lg-2
            p The software department is responsible for writing all the code for the robot. We start by teaching new members how to use Java and introduce them to the tools we use to code, such as VSCode. During build season, we write the code for the robot. This includes not only basic driving and manipulator control, but also image recognition, motion profiling, and more. We also test the robot, making sure that everything works well, before giving it to drive team. The software department also teams up with the engineering department to build the electronics board, which contains the components necessary to power the robot.

    .row
        .col-12
            h3 Business 
        .col-12.col-lg-9 
            p The business department has a wide range of responsibilities over the course of the year. To start the year off, the business department focuses on finding sponsors for the team, as well as applying for the many grants which are available to FRC teams. During this time the department also runs a competition within the team for that year’s logo. Before and during build season the department processes purchase requests for the different materials that the team needs. Throughout the entire year the business department works with the communications lead to keep communication aligned with the team branding, which the business department also creates and manages.

    .row
        .col-12
            h3 Strategy 
        .col-12.col-lg-9.order-lg-2
            p The strategy department is repsonsible for understanding and being experts in the rules of the game, determining how the robot will play the game, piloting the robot during the teleoperated period, and strategizing with other teams on our alliance.

    .row
        .col-12 
            h2 Leadership Team
        .col-6.col-lg-4.offset-lg-2.text-center
            img(src="/img/logo-100.png")
            h4 Operations Executive
            p Anna Lai
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Technical Executive
            p Kaylee Shin

    .row
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Build Director
            p Andrew Day
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Design Director
            p William Wagner
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Controls Director
            p Ryan Elbert
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Strategy Director
            p Kira Outheard
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Finance Director
            p Lalitha Muralidhar
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Marketing Director
            p Rio Johnson
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h4 Outreach Director
            p Zoe Bates

    .row
        .col-12
            h2 Mentors
        .col-6.offset-3.text-center
            img(src="/img/logo-100.png")
            h3 John Luetke
            p Coach

    .row 
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h3 James Gladden
            p Engineering Mentor
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h3 Bibianna Cha
            p Engineering Mentor
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h3 Tristan Bryant
            p Engineering Mentor
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h3 Jordan Macias
            p Engineering &amp; Software Mentor
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h3 Devon Endsley
            p Software & Programming Mentor
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h3 Andrew Wagner
            p Leadership & Project Management Mentor
        .col-6.col-lg-4.text-center
            img(src="/img/logo-100.png")
            h3 Kristen Vogel
            p Leadership & Team Sustainability Mentor
        
    .row
        .col-12
            h2 Previous Leadership

        .col-12.col-lg-6
            h3 Reefscape (2024 &mdash; 2025)
            ul
                li Captain: Zoe Bates
                li Communications: Gus Self
                li Project Manager: Andrew Day
                li Build Lead: Finn Lauckhart
                li Design Lead: Kaylee Shin
                li Software Lead: Mischa Adler
                li Strategy Lead: Ryan Elbert

        .col-12.col-lg-6
            h3 Crescendo (2023 &mdash; 2024)
            ul
                li Communications: Ryan Elbert
                li Project Manager: Norine Bao
                li Build Lead: Anita Simon
                li Business Lead: Carolyn Kennedy
                li Design Lead: Elaine Gao
                li Software Lead: Salvo Bonsma
                li Strategy Lead: Natalie Stanford

        .col-12.col-lg-6
            h3 Charged Up (2022 &mdash; 2023)
            ul
                li Captain: Ember Hartell
                li Communications: Thea Mesling
                li Project Manager: Norine Bao
                li Build Lead: Drew Stuart
                li Design Lead: Burke Havrenek
                li Software Lead: Linus Skucas
                li Strategy Lead: Sahar Abid

        .col-12.col-lg-6
            h3 Rapid React (2021 &mdash; 2022)
            ul
                li Captain: Jacob Berg
                li Communications: Linus Skucas
                li Project Manager: Anish Gangu
                li Build Specialist: Ari Snyder
                li Design Specialist: Reid Estberg
                li Software Lead: Alex Fischmann

        .col-12.col-lg-6
            h3 Infinite Recharge (2020 &mdash; 2021)
            ul
                li Captain: Quinn Roberts
                li Communications: Eric Daniel
                li Project Manager: Athena Crower
                li Business Lead: Tim Warber
                li Strategist: Jenelle Ng
                li Build Specialist: Ari Snyder
                li Design Specialist: Reid Estberg
                li Software Lead: Alex Fischmann

        .col-12.col-lg-6
            h3 Infinite Recharge (2019 &mdash; 2020)
            ul
                li Captain: Athena Crower
                li Communications: Erin Philips
                li Project Manager: Quinn Roberts
                li Business Lead: Tim Warber
                li Strategist: Jenelle Ng
                li Build Specialist: Forest Reese
                li Design Specialist: Autumn Kay-Chapman
                li Software Lead: Elias Haynie-Gay

        .col-12.col-lg-6
            h3 Deep Space (2018 &mdash; 2019)
            ul
                li Captain: Solomon Doxey
                li Communications: Margarita Burnett-Thomas
                li Project Manager: Abbie Ruddick
                li Business Lead: Nathan Bawaan
                li Strategist: Ishan Ghosh-Coutinho
                li Build Specialist: Benny Bruvold
                li Design Specialist: Bailey Heller
                li Software Lead: Corinne Herzog

        .col-12.col-lg-6
            h3 Power Up (2017 &mdash; 2018)
            ul
                li Captain: Harper d’Andrea
                li Communications: Solomon Doxey
                li Project Manager: Emily Louden
                li Business Manager: Erin Philips
                li Strategist: Julia Bailey
                li Build Specialist: Josh Stenchever
                li Design Specialist: Margarita Burnett-Thomas
                li Software Lead: Alex MacLean

        .col-12.col-lg-6
            h3 Steamworks (2016 &mdash; 2017)
            ul
                li President: Fiona Schaffer
                li Vice-President: Clyde Westrom
                li Project Manager: Brendan Murphy
                li Business Lead: Hallee Olson
                li Strategy Lead: Matthew Robinaugh
                li Hardware Lead: Alarik Rask
                li Safety Captain: Rafael Domingo
                li Design Lead: Margarita Burnett-Thomas
                li Software Lead: Alex MacLean

        .col-12.col-lg-6
            h3 Stronghold (2015 &mdash; 2016)
            ul
                li President: Marli Remash
                li Vice-President: Halle Remash
                li Project Manager:
                li Business Lead: Zoe Lawerence
                li Strategy Lead:
                li Hardware Lead: Jax Damir
                li Safety Captain:
                li Design Lead: Christina Doty
                li Software Lead:

        .col-12.col-lg-6
            h3 Recycle Rush (2014 &mdash; 2015)
            ul
                li President: Halle Remash
                li Communications Lead: Nate Spencer
                li Business Lead: Christa Tebbs
                li Hardware Lead: Alarik Rask
                li Software Lead: Aaron Jacobson

        .col-12.col-lg-6
            h3 Aerial Assist (2013 &mdash; 2014)
            ul
                li President: Ben Swanson
                li Project Manager: Micah Reid
                li Design Lead: Jacob Olsen
                li Strategy Lead: Eric Cooper
                li Software Lead: Aaron Jacobson
                li Hardware Lead: Jax Damir
                li Business Lead: Roxanne Trager
                li Safety Captain: Simon Rockhold

        .col-12.col-lg-6
            h3 Ultimate Ascent (2012 &mdash; 2013)
            ul
                li Administration: Katie van Koevering
                li Project Management: Max Horowitz-Gelb
                li Engineering: Adrian Delahunt
                li Robot Hardware: Ben Swanson
                li Robot Software: Alex Heilgeist
                li Business: Roxanne Trager

        .col-12.col-lg-6
                h3 Rebound Rumble (2011 &mdash; 2012)
                ul
                    li President / Software: Alex Heilgeist
                    li Secretary: Emma LaMarca
                    li Business: Ben Swanson
                    li Build: Adrian Delahunt
