@import "../node_modules/bootstrap/scss/bootstrap"
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap)

html
  height: 100%
  width: 100%

body
  font-family: 'Source Sans Pro'
  display: flex
  flex-direction: column
  height: 100%

header
  background-color: rgb(33, 61, 28)
  color: rgb(253, 194, 15)
  flex: 0 0 92px

  .logo
    display: flex

    img
      // 25% lockup per branding guide
      padding: 25px

    .text
      align-self: center

      h1
        margin-bottom: 0.25em

  nav
    align-self: center
    display: flex
    justify-content: space-evenly

    a
      color: rgb(255, 255, 255) !important

main
  flex: 1
  align-items: center

footer
  background-color: rgb(33, 61, 28)
  color: rgb(255, 255, 255) !important
  padding: 1em
  padding-left: 25px

  a
    color: rgb(255, 255, 255) !important

  nav
    display: flex
    flex-direction: column
    align-self: center
    
    a
      flex: 1
