---
layout: layout.html
title: Gallery
style: page
---

.container.gallery 
  .row 
    .col-12
      h1 Gallery 
  
  .row 
    .col-12.col-lg-6.text-center
      h2 Charged Up (2022 - 2023)
      a(href="/gallery/charged-up")
        img(src="/img/2023-cobol-250.png")
    
    .col-12.col-lg-6.text-center
      h2 Rapid React (2021 - 2022)
      a(href="/gallery/rapid-react")
        img(src="/img/2022-rolo-500.png")
    
    //.col-12.col-lg-6.text-center
      h2 Infinite Recharge (2020 - 2021)
      a(href="/gallery/infinite-recharge-2")
        img(height="500px", src="https://lh3.googleusercontent.com/pw/AJFCJaW1C5hrYVExCP-jvuGIc14DIVj1BrEmZZ4MNmLZhTGpB9ZwzDcc6h99B7sox9BIFOja1XD3w8JNGqPz9diEwffnQin3wVnBKBWQrat89AiozWvwmUem5TvYtj4DT5vJYWGiO7tDvnKxGZMeofgfPi_L=w1332-h1968-s-no")

    .col-12.col-lg-6.text-center
      h2 Infinite Recharge (2019 - 2020)
      a(href="/gallery/infinite-recharge")
        img(src="/img/2020-stardust-500.png")

    .col-12.col-lg-6.text-center
      h2 Deep Space (2018 - 2019)
      a(href="/gallery/deep-space")
        img(src="/img/2019-athena-500.png")

    .col-12.col-lg-6.text-center
      h2 Power Up (2017 - 2018)
      a(href="/gallery/power-up")
        img(src="/img/2018-glorified-table-500.png")

    .col-12.col-lg-6.text-center
      h2 Steamworks (2016 - 2017)
      a(href="/gallery/steamworks")
        img(src="/img/2017-rampe-grande-500.png")

    .col-12.col-lg-6.text-center
      h2 Stronghold (2015 - 2016)
      a(href="/gallery/stronghold")
        img(src="/img/2016-silver-500.png")

    .col-12.col-lg-6.text-center
      h2 Recycle Rush (2014 - 2015)
      a(href="/gallery/recycle-rush")
        img(src="/img/2015-recycle-rush-500.png")

    .col-12.col-lg-6.text-center
      h2 Aerial Assist (2013 - 2014)
      a(href="/gallery/aerial-assist")
        img(src="/img/2014-aerial-assist-500.png")

    .col-12.col-lg-6.text-center
      h2 Ultimate Ascent (2012 - 2013)
      a(href="/gallery/ultimate-ascent")
        img(src="/img/2013-ultimate-ascent-500.png")

    .col-12.col-lg-6.text-center
      h2 Rebund Rumble (2011 - 2012)
      a(href="/gallery/rebound-rumble")
        img(src="/img/2012-rebound-rumble-500.png")





