---
layout: layout.html
title: Gallery
style: page
---

.container.gallery 
  .row 
    .col-12
      h1 Gallery 
  .row 
    .col-6 
      h2 Charged Up (2022 - 2023)
      a(href="/gallery/charged-up")
        img(height="500px", src="https://lh3.googleusercontent.com/pw/AJFCJaW1C5hrYVExCP-jvuGIc14DIVj1BrEmZZ4MNmLZhTGpB9ZwzDcc6h99B7sox9BIFOja1XD3w8JNGqPz9diEwffnQin3wVnBKBWQrat89AiozWvwmUem5TvYtj4DT5vJYWGiO7tDvnKxGZMeofgfPi_L=w1332-h1968-s-no")

