<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/{{style}}.css">
    <title>{{ title }} - The Iron Riders, FRC Team 4180</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/img/logo-100.png">
            </a>
            <div class="text">
                <h1>The Iron Riders</h1>
                <h2>FRC Team 4180</h2>
            </div>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/team">Our Team</a>
            <a href="/sponsors">Our Sponsors</a>
            <a href="/resources">Resources</a>
        </nav>
    </header>

    <main>{{ content }}</main>

    <footer>
        <div>
            <address>
                The Iron Riders, FRC Team 4180<br/>
                c/o Roosevelt High School<br/>
                1410 NE 66th St<br/>
                Seattle, WA 98115
            </address>
        </div>
        <nav>
            <a href="https://store.ironriders.org">Store</a>
            <a href="/discord">Discord</a>
        </nav>
        <nav>
            <a href="/contact">Contact</a>
        </nav>
    </footer>
</body>

</html>